<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>

    <category label="40001">
        <setting id="notify_mode" type="bool" label="40005" default="true" />
        <setting type="sep" />
        <setting id="startup.cache " type="bool" label="40006" default="false" />
        <setting type="sep" />
        <setting type="lsep" label="40007" />
        <setting id="filesize_alert" type="slider" label="40008" default="250" range="25,500" option="int" />
        <setting id="packagenumbers_alert" type="slider" label="40009" default="50" range="5,200" option="int" />
        <setting type="lsep" label="40010" />
        <setting id="filesizethumb_alert" type="slider" label="40011" default="500" range="50,2000" option="int" />
        <setting type="sep" />
    </category>

    <category label="40002">
        <setting type="lsep" label="Main Menu" />
        <setting id="navi.maintenance" type="bool" label="MAINTENANCE" default="true" />
        <setting id="navi.logviewer" type="bool" label="LOG VIEWER/UPLOADER" default="true" />
        <setting id="navi.tools" type="bool" label="TOOLS" default="true" />
        <setting id="navi.settings" type="bool" label="SETTINGS" default="true" />
        <setting id="navi.changelog" type="bool" label="CHANGELOG" default="true" />
        <setting type="sep" />
        <setting type="lsep" label="Maintenance Menu" />
        <setting id="navi.clearemall" type="bool" label="CLEAR ALL" default="true" />
        <setting id="navi.clearcache" type="bool" label="CLEAR CACHE" default="true" />
        <setting id="navi.clearpack" type="bool" label="CLEAR PACKAGES" default="true" />
        <setting id="navi.clearthumb" type="bool" label="CLEAR THUMBNAILS" default="true" />
        <setting id="navi.clearempfold" type="bool" label="CLEAR EMPTY FOLDERS" default="true" />
        <setting id="navi.clearresolvecache" type="bool" label="CLEAR RESOLVERS CACHE" default="true" />
        <setting type="sep" />
        <setting type="lsep" label="Tools Menu" />
        <setting id="navi.advansett" type="bool" label="ADVANCED SETTINGS" default="true" />
        <setting id="navi.forcup" type="bool" label="FORCE UPDATES" default="true" />
        <setting id="navi.enadd" type="bool" label="ENABLE ADDONS" default="true" />
        <setting id="navi.enunsour" type="bool" label="ENABLE UNKNOWN SOURCES" default="true" />
        <setting id="navi.backre" type="bool" label="BACKUP/RESTORE" default="true" />
        <setting id="navi.builwiz" type="bool" label="BUILDS/WIZARD" default="true" />
        <setting id="navi.reloski" type="bool" label="RELOAD SKIN" default="true" />
        <setting id="navi.relopro" type="bool" label="RELOAD PROFILE" default="true" />
        <setting id="navi.fresta" type="bool" label="FRESH START" default="true" />
        <setting type="sep" />
    </category>

    <category label="40003">
        <setting id="download.path" type="folder" label="Backup Location" visible="True" />
        <setting type="sep" />
        <setting id="restore.path" type="folder" label="Restore from Zip Location (folder)" visible="True" />
    </category>

    <category label="40004">
        <setting id="enable_wiz1" type="bool" label="Enable wizard" default="false"/>
        <setting id="name1" type="text" label="Name" default="name" enable="!eq(-1,false)"/>
        <setting id="url1" type="text" label="Zip Url" default="zip url" enable="!eq(-2,false)"/>
        <setting id="img1" type="text" label="Image" default="special://home/addons/script.ezclean/fanart.jpg" enable="!eq(-3,false)"/>
        <setting type="sep" />
        <setting id="enable_wiz2" type="bool" label="Enable wizard" default="false"/>
        <setting id="name2" type="text" label="Name" default="name" enable="!eq(-1,false)"/>
        <setting id="url2" type="text" label="Zip Url" default="https://" enable="!eq(-2,false)"/>
        <setting id="img2" type="text" label="Image" default="special://home/addons/script.ezclean/fanart.jpg" enable="!eq(-3,false)"/>
        <setting type="sep" />
        <setting id="enable_wiz3" type="bool" label="Enable wizard" default="false"/>
        <setting id="name3" type="text" label="Name" default="name" enable="!eq(-1,false)"/>
        <setting id="url3" type="text" label="Zip Url" default="https://" enable="!eq(-2,false)"/>
        <setting id="img3" type="text" label="Image" default="special://home/addons/script.ezclean/fanart.jpg" enable="!eq(-3,false)"/>
        <setting type="sep" />
    </category>

</settings>

